<div class="card">
  <div class="card-body">
    <h5 class="card-title text-muted text-uppercase text-center">{{heading1}}</h5>
    <h6 class="card-price text-center">{{heading3}}<span class="period">{{heading2}}</span></h6>
    <hr>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fas fa-check"></i></span>{{list1}}</li>
      <li><span class="fa-li"><i class="fas fa-check"></i></span>{{list2}}</li>
      <li><span class="fa-li"><i class="fas fa-check"></i></span>{{list3}}</li>
      <li><span class="fa-li"><i class="fas fa-check"></i></span>{{list4}}</li>
      <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{list5}}</li>
      <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{list6}}</li>
      <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{list7}}</li>
      <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{list8}}</li>

    </ul>
    <a href="#" class="btn btn-block btn-primary text-uppercase">button</a>
  </div>
</div>
